.action-button {
  margin: 30px 10px 10px 10px;
}

.action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ff2c10;
  color: #fff;
  cursor: pointer;
  width: 200px;
}

.action-button:hover {
  background-color: #e61414;
}

.action-button:active {
  background-color: #a50404;
}

.users-container,
.vote-options-container {
  width: 1000px;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 10px;
  padding: 5px;
  text-align: left;
}

.users-container {
  background-color: #add3ff;
}

.user-card,
.vote-option {
  display: inline-block;
  color: black;
  text-align: left;
  padding: 5px;
  text-decoration: none;
  margin: 5px;
}

.user-card {
  border: 3px solid rgb(0, 0, 0);
  background: #537fdd;
  border-radius: 4px;
  width: 224px;
}

.vote-option {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e4faee;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.vote-option:hover {
  background-color: #d2f7e3;
}

.vote-option:active {
  background-color: #bff3d6;
}

.vote-otpion-value {
  color: rgb(97, 97, 97);
}
